#mapa_div {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	z-index: 2;
}

#mapa {
	width: 100%;
	height: 100%;
}

#header {
	position: absolute;
	width: 100vw;
	height: 50px;
	left: 0px;
	top: -50px;
	overflow-y: hidden;

	z-index: 3;

	line-height: 50px;

	background: rgb( 117, 205, 240 );
}

#contenido {
	position: absolute;
	width: 100vw;
	height: calc( 100vh - 50px );
	left: 0px;
	top: 50px;

	box-sizing: border-box;
	overflow-y: scroll;
}

#nombre_lugar {
	font-size: 20px;
	text-decoration: underline;
}

#volver {
	border: 1px solid black;
	padding: 3px 10px;
	border-radius: 3px;
	font-size: 15px;

	margin-left: 20px;
	margin-right: 100px;

	background: white;
}

#volver:hover {
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
}


#contenido {
	overflow-x: hidden;
}

#div_temperatura,
#div_mm,
#div_humedad,
#div_presion {
	width: 99%;
	float: left;
}

@media only screen and ( min-width: 1000px )
{
	#div_temperatura,
	#div_mm,
	#div_humedad,
	#div_presion {
		width: 49%;
		float: left;
	}
}

@media only screen and ( min-width: 1500px )
{
	#div_temperatura,
	#div_mm,
	#div_humedad,
	#div_presion {
		width: 32%;
		float: left;
	}
}

#filtros {
	width: 500px;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: rgb( 117, 205, 240 );
}

#fecha {}
#mostrar {}
#seleccion {
	padding-top: 10px;
}