<!DOCTYPE html>
<html lang="es-UY">
<head>
	<meta charset="utf-8">

	<!-- LeafLet ------------------------------------------------------------------->
	<link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='css/leaflet.css' )}}">
	<script src="{{url_for( 'static', filename='js/leaflet.js' )}}"></script>

	<!-- Chart.js ------------------------------------------------------------------>
	<script src="{{url_for( 'static', filename='js/Chart.bundle.min.js' )}}"></script>

	<!-- jQuery -------------------------------------------------------------------->
	<script src="{{url_for( 'static', filename='js/jquery-3.4.1.min.js' )}}"></script>

	<!-- JS ------------------------------------------------------------------------>
	<script src="{{url_for( 'static', filename='js/script.js' )}}"></script>

	<!-- CSS Style ----------------------------------------------------------------->
	<link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='css/normalize.css' )}}">
	<link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='css/style.css' )}}">
</head>
<body>
	<div id="mapa_div">
		<div id="mapa"></div>
	</div>

	<div id="header">
		<span id="volver">< volver</span>
		<span id="nombre_lugar">Lugar</span>
	</div>

	<div id="contenido">
		<div id="filtros">
			<input type="date" id=fecha>
			<button id="mostrar">Seleccionar día</button>
			<button id="mostrar_todo">Mostrar todo</button>
			<br>
			<div id="seleccion"></div>
		</div>

		<div id="div_temperatura">
			<canvas id="grafTemperatura"></canvas>
		</div>
		<div id="div_humedad">
			<canvas id="grafHumedad"></canvas>
		</div>
		<div id="div_mm">
			<canvas id="grafMm"></canvas>
		</div>
		<div id="div_presion">
			<canvas id="grafPresion"></canvas>
		</div>
	</div>
</body>
</html>